
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
body{

    font-family: 'Poppins', sans-serif;
    margin: 20rem;
    padding: 10rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: a;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
